#Ignore temporary files eg .s#1 or .b#9
*.[sb]#*

#ignore log files
*.log

#ignore kicad lock files
*.lck

#ignore kicad backup folders
*-backups/

#ignore kicad cache
fp-info-cache

#ignore kicad temporary files
*.kicad_prl